{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/assets/css/new-style1.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/new-style1.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/new-style1.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/new-style1.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/new-style1.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/new-style1.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/new-style.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/new-style.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/new-style.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/new-style.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/new-style.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/new-style.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/new-style.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/new-style.css"/>
    <title>Volunteer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/new-style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
</head>

<body>

<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container" id="top-nav-bar">
            <a class="navbar-brand" href="{% url 'admin:index' %}" style="color: white">
                <img src="{% static 'assets/css/img/volunteer.png' %}" alt=""
                     style="width: 10%; height: 10%; margin-right: 1%">
                Volunteer</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto"></ul>
                <span class="navbar-text actions">
                        <a class="btn btn-light action-button" role="button" href="{% url 'logout' %}"
                           id="show1">LogOut</a>
                    </span>
            </div>
        </div>
    </nav>
</div>


<div class="container shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="margin-bottom: 5%; text-align: center">UPLOAD DATA </h2>
            <div class="upload">
                <form action="" method="post" id="upload-form" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            <div class="row">
                                <div class="col-sm-6" id="cv_label">
                                    {{ field.label_tag }}
                                </div>
                                <div class="col-sm-6" id="cv_input">
                                    {{ field }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <button class="btn btn-success" type="submit" id="cv-upload">Submit</button>
                </form>

                {% if file %}
                    <div class="row">
                        <div class="col-sm-4" id="filename">
                            <h4>Files present</h4>
                            {% for file in file %}
                                <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-check-square"></i>{{ file.filename }}</li>
                                </ul>
                            {% endfor %}
                        </div>
                        <div class="col-sm-7" id="clean-part">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="text" name="file-name" title="name" id="file-input">
                                <button class="btn btn-success" type="submit" id="clean">Clean</button>
                            </form>
                        </div>
                    </div>

                    <div class="row" id="page">
                        <div class="col-sm-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% for pg in page %}
                                        {% if file.number == pg %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ pg }}"
                                                   class="btn btn-default">{{ pg }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ pg }}" class="btn">{{ pg }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if file.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ file.previous_page_number }}"
                                               tabindex="-1">Previous</a>
                                        </li>
                                    {% endif %}
                                    {% if file.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ file.next_page_number }}">Next</a>
                                        </li>
                                    {% endif %}
                                    <span>Page {{ file.number }} of {{ file.paginator.num_pages }}</span>
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% endif %}

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 style="margin-bottom: 1%; text-align: center">MANAGE APPLICANTS</h2>

            <div class="row" id="cert-option">
                <div class="col-sm-6" id="cert_col">
                    <span id="cert">
                        <a class="btn btn-light action-button" id="btn-cert-1" role="button"
                           href="{% url 'manage_applicant' 'Certificate level' %}">
                            <strong style="font-size: 1.6em">
                                Certificate Level
                            </strong>
                            <br>
                            <strong>
                                <span style="font-size: 1.4em">{{ cert.count }} <label
                                        for="cert-count">Applicant</label></span>
                            </strong>
                            <br>

                                <span style="font-size: 1em">{{ cert1.count }} <label
                                        for="cert-count">Approved</label></span>

                        </a>
                    </span>
                </div>
                <div class="col-sm-6" id="cert_col_1">
                    <span id="cert">
                        <a class="btn btn-light action-button" id="btn-cert-1" role="button"
                           href="{% url 'manage_applicant' 'Diploma level' %}">
                            <strong style="font-size: 1.6em">
                                Diploma Level
                            </strong>
                            <br>
                            <strong>
                                <span style="font-size: 1.4em">{{ dipl.count }} <label
                                        for="cert-count">Applicant</label></span>
                            </strong>
                            <br>

                                <span style="font-size: 1em">{{ dipl1.count }} <label
                                        for="cert-count">Approved</label></span>
                        </a>
                    </span>
                </div>
            </div>

            <div class="row" id="cert-option-2">
                <div class="col-sm-6" id="cert_col">
                    <span id="cert">
                        <a class="btn btn-light action-button" id="btn-cert-1" role="button"
                           href="{% url 'manage_applicant' 'Degree level' %}">
                            <strong style="font-size: 1.6em">
                                Degree Level
                            </strong>
                            <br>
                            <strong>
                                <span style="font-size: 1.4em">{{ degr.count }} <label
                                        for="cert-count">Applicant</label></span>
                            </strong>
                            <br>

                                <span style="font-size: 1em">{{ degr1.count }} <label
                                        for="cert-count">Approved</label></span>
                        </a>
                    </span>
                </div>
                <div class="col-sm-6" id="cert_col_1">
                    <span id="cert">
                        <a class="btn btn-light action-button" id="btn-cert-1" role="button"
                           href="{% url 'manage_applicant' 'Masters level' %}">
                            <strong style="font-size: 1.6em">
                                Masters Level
                            </strong>
                            <br>
                            <strong>
                                <span style="font-size: 1.4em">{{ mast.count }} <label
                                        for="cert-count">Applicant</label></span>
                            </strong>
                            <br>

                                <span style="font-size: 1em">{{ mast1.count }} <label
                                        for="cert-count">Approved</label></span>
                        </a>
                    </span>
                </div>
            </div>

            {#            <table class="table">#}
            {#                <thead>#}
            {#                <tr>#}
            {#                    <th>Full name</th>#}
            {#                    <th>Phone</th>#}
            {#                    <th>Status</th>#}
            {#                    <th>Preview</th>#}
            {#                    <th>Approve</th>#}
            {#                </tr>#}
            {#                </thead>#}
            {#                <tbody>#}
            {#                {% for f in name %}#}
            {#                    <tr>#}
            {#                        <td>{{ f.full_name }}</td>#}
            {#                        <td>{{ f.contact }}</td>#}
            {#                        <td>{{ f.status_update }}</td>#}
            {#                        <form action="{% url 'user_data' f.full_name %}" method="get">#}
            {#                            {% csrf_token %}#}
            {#                            <td>#}
            {#                                <button class="btn-success" id="btn-admin">Preview CV</button>#}
            {#                            </td>#}
            {#                        </form>#}
            {#                        <form action="{% url 'approve' f.full_name %}">#}
            {#                            {% csrf_token %}#}
            {#                            <td>#}
            {#                                <button class="btn-success" id="btn-approve" onclick="return submitForm(this.form)">#}
            {#                                    Approve#}
            {#                                </button>#}
            {#                            </td>#}
            {#                        </form>#}
            {#                    </tr>#}
            {#                {% endfor %}#}
            {#                </tbody>#}
            {#            </table>#}
        </div>
    </div>
</div>


<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/javascript/jquery.min.js' %}"></script>

<script src="{% static 'assets/javascript/Signin-popup-window-del.js' %}"></script>

{#<script>#}
{##}
{#    function submitForm(form) {#}
{#        var url = form.attr("action");#}
{#        var formData = {};#}
{#    $(form).find("input[name]").each(function (index, node) {#}
{#        formData[node.name] = node.value;#}
{#    });#}
{#        $.post(url).done(function (data) {#}
{#        alert(data.value);#}
{#        location.reload();#}
{#        });#}
{##}
{#        $.get(url, function (data) {#}
{#            alert(data.value)#}
{#        });#}
{##}
{#    }#}
{##}
{#</script>#}


</body>

</html>